<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>
	<!-- Setting   -->
	<!-- 别名  包 -->
	<typeAliases>
		<package name="com.dawei.core.pojo"/>
	</typeAliases>
	<!-- Mapper 不配置 -->
	
	
</configuration>
